.col-imagen{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.row{
    background-color: white;
    margin: 4% 3%;
}
.col-details{
    padding-left: 30px;
    padding-bottom: 40px;
}

.margin{
    margin: 35px;
    padding: 5px;
}

