.itemListContainer{
    text-align : center;
    color : black;
    margin: 5%;
    display: grid;
    flex-wrap: wrap;
    height: 90%;
    width: 90%;
}

.greeting{
    color: black;
    margin: 30px;
    text-align: center;
    text-shadow: 2px;
}