.presentation{
    text-align: left;
    margin: 5%;
}
.presentation > *{
    margin: 20px 0px;
}
.presentation > h2, h5{
    font-weight: 600;
    margin-bottom: 30px;
}
.col-imagen{
    margin: 45px 0px;
}
.col-imagen > p{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}
.days{
    font-weight: 600;
    margin-bottom: 15px;
}
.titulo-horarios{
    margin: 30px 0px;
}
.horarios{
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.582);
}