.cardContent{
  padding: 20px;
}
.botonPedir{
  border: none;
}
.botonPedir:hover{
  font-weight: 800;
}
.description{
  font-size: 16px;
  margin-bottom: 8px;
}

.producto{
  height: auto !important;
  width: '18rem' !important;
  color : black;
  overflow: hidden;
  box-shadow: 0 2px 20px gray !important;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.normalizeItem{
  color: black;
  text-decoration: none;
}