.containerCheckOut{
    margin: 5% 10%;
    padding: 2%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}
.containerCheckOut > h3{
    padding: 30px;
}

input{
    margin: 10px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: none;
    border-bottom: rgb(131, 131, 131) solid 1px;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    padding: 10px;
}
#sendOrder{
    margin: 2%;
}
#sendOrder > p {
    color:red;
}
.enviar-pedido{
    border-radius: 5px;
    width: 200px;
    border: 1px black solid !important;
    margin-bottom: 6%;
    box-shadow: 6px 6px 6px rgb(100, 100, 100);
}