.go-to-cart{
    padding : 35px 0px;
}
.go-to-cart > p{
    font-size: 20px;
}

.go-to-cart-button{
    width: 150px;
    box-shadow: 6px 6px 6px rgb(100, 100, 100);
}

.keep-buying{
    color:black;
    font-size: medium;
    margin-top: 25px;
}

.keep-buying:hover{
    color:red;
}

.buttons{
    display: grid;
}