.divPadre{
    height: 100vh;
    position: relative;
}

.divHijo{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.spinner{
    width: 80px;
    height: 80px;
    border: 10px solid currentColor;
    border-right-color: transparent;
}