*{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
.App {
  background-color: #eeeeee;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-weight: 300;
}

.normalizeBlackLink{
  color: rgba(66, 39, 39, 0.904);
  text-decoration: none;
}
.normalizeBlackLink:hover{
  color: rgba(0, 0, 0, 0.822);
  font-weight: 800;
}

.normalizeWhiteLink{
  color: white;
  text-decoration: none;
}
.normalizeWhiteLink:hover{
  color: white;
  font-weight: 800;
}
