.delineado{
    border : #fc5a55 2px solid !important;
    border-radius: 5px;
}

.counter{
    width: 100px; 
}
.ancho-counter{
    width: 180px;
}

.add-to-cart{
    display : flex;
    width: 180px;
}

.card{
    width : 250px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    border:none;
}